.container-sub-banner{
    width: 90%;
    margin: 30px auto;
    text-align: justify;
}

@media screen and (min-width: 500px) {
    .container-sub-banner{
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .subtitle-sub-banner{
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1440px) {
    .subtitle-sub-banner{
        font-size: 1.4rem;
    }
}