.container-photo{
    display: flex;
    justify-content: center;
}
.container-photo:hover{
    transform: rotate(3deg);

}
.photo{
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: borderFade 2.5s infinite;
}

@keyframes borderFade {
    0%, 100% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    }
}

.parrafos{
    width: 90%;
    margin: 20px auto;
    text-align: justify;
    background-color: #1f2c38;
    border-radius: 15px;
    padding: 10px;
    color: white;
}
.container-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.btn-contact{
    transition: ease-in-out transform .6s;
    padding: 10px;
    background-color: #b58b0d;
    border-radius: 7px;
    border: none;
    margin: 20px auto 10px auto;
    text-decoration: none;
    color: black;
}


.btn-contact:hover{
    background-color: #ffc30f;
    cursor: pointer;
}



@media screen and (min-width: 768px) {

    .container-summary{
        display: flex;
        width: 90%;
        margin: auto;
        align-items: center;
    }

    .parrafos{
        transition: ease-in-out transform .7s;
        width: 60%;
        max-height: 400px;
        font-size: 1.1rem;

    }
    .parrafos:hover{
        transform: scale(1.1, 1.1);

    }
    .photo{
        width: 210px;
    }
    .container-photo{
        padding: 20px;

    }
    .btn-contact{
        font-size: 16px;
    }


}

@media screen and (min-width: 1024px) {
    .container-summary{
        width: 80%;
        align-items: start;
    }
    .parrafos{
        padding: 30px;
        font-size: 1.15rem;
    }
    .btn-contact{
        margin-top: 30px;
    }
}