html{
  font-family: "Space Grotesk", sans-serif;
}
*{
  background-color: transparent;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  -webkit-user-select: none; /* Desactiva la selección en navegadores basados en WebKit */
  -moz-user-select: none; /* Desactiva la selección en navegadores basados en Gecko (Firefox) */
  -ms-user-select: none; /* Desactiva la selección en Internet Explorer y Edge */
  user-select: none; /* Desactiva la selección en navegadores estándar */
}
a,a[target="_blank"]{
  text-decoration: none;
}