.container-banner{
    min-height: 130px;
}
.cursor {
    border-right: 3px solid black; /* Línea vertical que simula la barra de escritura */
    animation: cursor-blink 0.4s step-end infinite;
}
.title-Banner{
    margin-top: 90px;
    text-align: center;
}
  

@media screen and (min-width: 768px) {
    .title-Banner{
        margin-top: 120px;
    }
}

@media screen and (min-width: 1024px) {
    .title-Banner{
        font-size: 2.7rem;
        margin-top: 150px;

    }
}





@keyframes cursor-blink {
    0%, 100% {
        border-color: transparent; /* Hace que la barra desaparezca */
    }
    50% {
        border-color: black; /* Hace que la barra aparezca */
    }
}

